/* 
    Created on : Mar 13, 2014, 9:42:21 PM
    Author     : kishore
*/
/* line 22, classbook/sass/wallrecover.scss */
#logout_button {
  color: white;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  padding: 13.333px;
}
/* line 31, classbook/sass/wallrecover.scss */
#logout_button i {
  cursor: pointer;
}

/* line 36, classbook/sass/wallrecover.scss */
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  color: #fff;
  background: #4D68A2;
  z-index: 110;
}
/* line 47, classbook/sass/wallrecover.scss */
.header .head_body {
  align: center;
  position: relative;
  top: 0px;
  left: 5%;
  width: 65%;
  padding: 10px 0px;
}
/* line 56, classbook/sass/wallrecover.scss */
.header .nav_left {
  float: left;
}
/* line 59, classbook/sass/wallrecover.scss */
.header .nav_left #search_text {
  min-width: 300px;
  width: 500px;
  margin-left: 15px;
  border: 1px solid rgba(213, 213, 213, 0.7);
  height: 20px;
  border-radius: 0.2em;
}
/* line 70, classbook/sass/wallrecover.scss */
.header .nav_right {
  float: right;
  overflow: show;
}
/* line 76, classbook/sass/wallrecover.scss */
.header .nav_right .inner_nav #nav_items {
  padding-left: 30px;
}
/* line 79, classbook/sass/wallrecover.scss */
.header .nav_right .inner_nav #nav_items td {
  cursor: pointer;
}
/* line 83, classbook/sass/wallrecover.scss */
.header .nav_right .inner_nav #nav_items .active, .header .nav_right .inner_nav #nav_items .inactive:hover {
  opacity: 1;
}
/* line 87, classbook/sass/wallrecover.scss */
.header .nav_right .inner_nav #nav_items .inactive {
  opacity: 0.5;
}

/* line 95, classbook/sass/wallrecover.scss */
.fa {
  cursor: default;
}

/* line 99, classbook/sass/wallrecover.scss */
.icon_color {
  color: darkblue;
}

/* line 104, classbook/sass/wallrecover.scss */
.update_text {
  color: #333;
  margin-top: 30px;
  font-size: 11px;
  margin-bottom: 5px;
  font-weight: bold;
}

/* line 121, classbook/sass/wallrecover.scss */
.wall_post {
  width: 550px;
  border: 1px solid #e7e1fe;
  border-top: 0px;
  margin-bottom: 17px;
}
/* line 126, classbook/sass/wallrecover.scss */
.wall_post #wc_edit {
  width: 544px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 30px;
  font-size: 12px;
  padding: 3px;
  border: 0px;
  border-top: 1px solid #e7e1fe;
  resize: none;
}
/* line 139, classbook/sass/wallrecover.scss */
.wall_post #post_images .p_img {
  position: relative;
  margin: 3px;
  float: left;
  display: inline-block;
  width: 131.5px;
  height: 131.5px;
}
/* line 146, classbook/sass/wallrecover.scss */
.wall_post #post_images .p_img .loading {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 55.75px;
  left: 55.75px;
}
/* line 153, classbook/sass/wallrecover.scss */
.wall_post #post_images .p_img img {
  width: 131.5px;
  height: 131.5px;
}
/* line 158, classbook/sass/wallrecover.scss */
.wall_post #post_images .img_add {
  display: inline-block;
  padding: 3px 3px 0px 0px;
  float: left;
  cursor: pointer;
  width: 131.5px;
  height: 131.5px;
}
/* line 165, classbook/sass/wallrecover.scss */
.wall_post #post_images .img_add span {
  display: table-cell;
  height: 131.5px;
  width: 131.5px;
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
  font-size: 20px;
  color: #b1b1b1;
  background-color: #f0f0f0;
  border: 1px solid #949494;
}
/* line 177, classbook/sass/wallrecover.scss */
.wall_post #post_images .img_add span:hover {
  background-color: white;
}
/* line 182, classbook/sass/wallrecover.scss */
.wall_post .footer {
  width: 550px;
  display: inline-block;
  height: 30px;
  border: 0px;
  border-top: 1px solid rgba(210, 210, 210, 0.4);
  background-color: #f5f5f5;
  background-color: rgba(240, 240, 240, 0.9);
}
/* line 190, classbook/sass/wallrecover.scss */
.wall_post .footer .post_button {
  font-size: 11px;
  float: right;
  color: #f4f4f4;
  border: 1px solid darkblue;
  background-color: #3b5998;
  margin-right: 10px;
  margin-top: 5px;
  width: 60px;
  height: 22px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
}
/* line 205, classbook/sass/wallrecover.scss */
.wall_post .footer .image_post {
  display: inline-block;
  font-size: 29px;
  color: olivedrab;
  border-right: 1px solid rgba(214, 214, 214, 0.9);
  font-weight: normal;
  float: left;
  cursor: pointer;
  height: 100%;
  width: 5%;
}

/* line 221, classbook/sass/wallrecover.scss */
#posts {
  width: 550px;
  border-bottom: 1px solid #e7e1fe;
}

/* line 226, classbook/sass/wallrecover.scss */
.loading_wall {
  background-color: #e0e0e0;
  margin-top: 10px;
  width: 550px;
  padding: 10px 0px;
  text-align: center;
}
/* line 233, classbook/sass/wallrecover.scss */
.loading_wall span {
  display: none;
}

/* line 237, classbook/sass/wallrecover.scss */
.loading_wall:hover {
  background-color: #e0e0e0;
}

/* line 242, classbook/sass/wallrecover.scss */
.processing {
  opacity: 0.5;
}

/* line 245, classbook/sass/wallrecover.scss */
.post {
  color: #37404e;
  width: 540px;
  border: none;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}
/* line 258, classbook/sass/wallrecover.scss */
.post .head .delete .fa {
  cursor: pointer;
}
/* line 261, classbook/sass/wallrecover.scss */
.post .head .delete {
  color: #898f9c;
  display: none;
  float: right;
}
/* line 266, classbook/sass/wallrecover.scss */
.post .head .delete:hover {
  color: black;
}
/* line 269, classbook/sass/wallrecover.scss */
.post .head .profile_image {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 7px;
}
/* line 276, classbook/sass/wallrecover.scss */
.post .head .details .owner {
  display: inline-block;
  font-weight: normal;
  margin-top: 5px;
  letter-spacing: 0.3px;
  color: #3b5998;
  font-weight: 900;
}
/* line 284, classbook/sass/wallrecover.scss */
.post .head .details .description {
  color: #898f9c;
  font-size: 11px;
}
/* line 291, classbook/sass/wallrecover.scss */
.post .body {
  margin-left: 47px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 510px -5;
}
/* line 296, classbook/sass/wallrecover.scss */
.post .body .content {
  overflow: hidden;
  height: auto;
  word-break: break-all;
}
/* line 301, classbook/sass/wallrecover.scss */
.post .body .collapse {
  color: darkblue;
  cursor: pointer;
  font-size: 12px;
  font-weight: 900;
}
/* line 307, classbook/sass/wallrecover.scss */
.post .body .collapse:hover {
  text-decoration: underline;
}
/* line 311, classbook/sass/wallrecover.scss */
.post .images {
  margin-top: 5px;
  margin-left: 47px;
}
/* line 314, classbook/sass/wallrecover.scss */
.post .images img {
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 318, classbook/sass/wallrecover.scss */
.post .images img:hover {
  opacity: 0.5;
}
/* line 322, classbook/sass/wallrecover.scss */
.post .images .small {
  width: 200px;
  height: 200px;
}
/* line 326, classbook/sass/wallrecover.scss */
.post .images .still_small {
  width: 140px;
  height: 140px;
}
/* line 330, classbook/sass/wallrecover.scss */
.post .images .still_small_3 {
  width: 135px;
  height: 130px;
}
/* line 337, classbook/sass/wallrecover.scss */
.post .tail {
  margin-top: 5px;
  padding: 5px;
  background-color: #edeff4;
  margin-left: 47px;
  width: 433px;
}
/* line 343, classbook/sass/wallrecover.scss */
.post .tail .section {
  display: none;
}
/* line 346, classbook/sass/wallrecover.scss */
.post .tail hr {
  width: 100%;
  margin: 3px 0px;
  margin-bottom: 5px;
  background-color: white;
}
/* line 353, classbook/sass/wallrecover.scss */
.post .tail .funcs .show_likes {
  cursor: pointer;
}
/* line 355, classbook/sass/wallrecover.scss */
.post .tail .funcs .show_likes .fa {
  cursor: pointer;
}
/* line 359, classbook/sass/wallrecover.scss */
.post .tail .funcs .show_likes:hover {
  opacity: 0.5;
}
/* line 362, classbook/sass/wallrecover.scss */
.post .tail .funcs .option {
  font-size: 10px;
  cursor: pointer;
  color: #3b5998;
  margin-right: 5px;
}
/* line 368, classbook/sass/wallrecover.scss */
.post .tail .funcs .option:hover {
  text-decoration: underline;
  opacity: 0.7;
}
/* line 372, classbook/sass/wallrecover.scss */
.post .tail .funcs .status {
  color: #898f9c;
  font-size: 10px;
}
/* line 377, classbook/sass/wallrecover.scss */
.post .tail .view_previous_comments {
  font-size: 10px;
}
/* line 382, classbook/sass/wallrecover.scss */
.post .tail .comments .comment {
  margin-bottom: 5px;
}
/* line 384, classbook/sass/wallrecover.scss */
.post .tail .comments .comment .delete {
  color: #898f9c;
  display: none;
  cursor: pointer;
  float: right;
}
/* line 390, classbook/sass/wallrecover.scss */
.post .tail .comments .comment .delete:hover {
  color: black;
}
/* line 393, classbook/sass/wallrecover.scss */
.post .tail .comments .comment .prof_image {
  width: 26.667px;
  height: 26.667px;
  margin-right: 7px;
  float: left;
}
/* line 399, classbook/sass/wallrecover.scss */
.post .tail .comments .comment .content {
  width: 429.333px;
  display: table-cell;
  margin-left: 47px;
  margin-bottom: 5px;
  line-height: 15px;
  font-size: 11px;
  word-break: break-all;
}
/* line 407, classbook/sass/wallrecover.scss */
.post .tail .comments .comment .content .comment_by {
  margin-right: 5px;
  color: #3b5998;
  font-weight: bolder;
  font-weight: 900;
}
/* line 413, classbook/sass/wallrecover.scss */
.post .tail .comments .comment .content .image img {
  margin: 5px 0px;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
}
/* line 420, classbook/sass/wallrecover.scss */
.post .tail .comments .comment .content .funcs .stats {
  color: #898f9c;
  font-size: 10px;
  opacity: 0.7;
  margin-right: 5px;
}
/* line 430, classbook/sass/wallrecover.scss */
.post .tail .add_comment {
  position: relative;
}
/* line 432, classbook/sass/wallrecover.scss */
.post .tail .add_comment .image {
  width: 26.667px;
  height: 26.667px;
  float: left;
  margin-right: 7px;
}
/* line 438, classbook/sass/wallrecover.scss */
.post .tail .add_comment textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  padding: 5px;
  border: 1px solid #e7e1fe;
  resize: none;
  width: 300px;
  height: 13px;
  float: left;
}
/* line 448, classbook/sass/wallrecover.scss */
.post .tail .add_comment .div {
  height: 23px;
  border: 1px solid #e7e1fe;
  border-left: 0px;
  padding: 0px 5px;
  float: left;
  color: #a4a4a4;
  display: inline-block;
}
/* line 457, classbook/sass/wallrecover.scss */
.post .tail .add_comment .div:hover {
  color: #8a8a8a;
}
/* line 460, classbook/sass/wallrecover.scss */
.post .tail .add_comment .add_image {
  height: 23px;
  display: table-cell;
  vertical-align: middle;
  font-size: 13px;
}
/* line 466, classbook/sass/wallrecover.scss */
.post .tail .add_comment .comment_image_container {
  visibility: hidden;
  margin-left: 33.667px;
  padding: 5px;
  background-color: white;
  display: inline-block;
  border: 1px solid #e7e1fe;
  width: 300px;
}
/* line 474, classbook/sass/wallrecover.scss */
.post .tail .add_comment .comment_image_container img {
  max-width: 100px;
  max-height: 100px;
}
/* line 479, classbook/sass/wallrecover.scss */
.post .tail .add_comment .blurred {
  background-color: #fcfcfc;
}

/* line 486, classbook/sass/wallrecover.scss */
#flash {
  display: none;
  height: 100%;
  width: 100%;
  vertical-align: center;
}
/* line 491, classbook/sass/wallrecover.scss */
#flash .fadeout {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
/* line 500, classbook/sass/wallrecover.scss */
#flash #likeList {
  margin: auto;
  position: fixed;
  display: block;
  max-height: 80%;
  width: 200px;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: left;
}
/* line 509, classbook/sass/wallrecover.scss */
#flash #likeList .head {
  display: inline-block;
  color: white;
  font-weight: 900;
  width: 100%;
  padding: 5px 0px;
  background-color: #3b5998;
}
/* line 516, classbook/sass/wallrecover.scss */
#flash #likeList .head span {
  padding-left: 5px;
}
/* line 519, classbook/sass/wallrecover.scss */
#flash #likeList .head i {
  float: right;
  padding-right: 5px;
  color: #898f9c;
}
/* line 524, classbook/sass/wallrecover.scss */
#flash #likeList .head i:hover {
  color: white;
}
/* line 528, classbook/sass/wallrecover.scss */
#flash #likeList .body {
  max-height: 400px;
  overflow: auto;
  background-color: white;
}
/* line 532, classbook/sass/wallrecover.scss */
#flash #likeList .body div {
  float: left;
  clear: both;
  width: 100%;
  cursor: pointer;
  color: #3b5998;
}
/* line 538, classbook/sass/wallrecover.scss */
#flash #likeList .body div img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  padding: 5px;
}
/* line 547, classbook/sass/wallrecover.scss */
#flash #likeList .body div:hover {
  opacity: 0.7;
  background-color: #3b5998;
  color: white;
}
/* line 554, classbook/sass/wallrecover.scss */
#flash .user_action {
  display: block;
  margin: auto;
  position: absolute;
  height: 100px;
  width: 200px;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
/* line 563, classbook/sass/wallrecover.scss */
#flash .user_action .option {
  display: inline-block;
  float: left;
  width: 100px;
  background-color: white;
  color: #3b5998;
  padding: 10px 0px;
  text-align: center;
  cursor: pointer;
}
/* line 573, classbook/sass/wallrecover.scss */
#flash .user_action .option:hover {
  background-color: #3b5998;
  color: white;
}
/* line 577, classbook/sass/wallrecover.scss */
#flash .user_action .watch {
  width: 100%;
}
/* line 583, classbook/sass/wallrecover.scss */
#flash #zoomImage {
  display: none;
  margin: auto;
  position: fixed;
  height: 500px;
  width: 850px;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
/* line 592, classbook/sass/wallrecover.scss */
#flash #zoomImage .stats {
  width: 100px;
  font-size: 15px;
  color: white;
  background-color: black;
  padding: 5px;
  position: absolute;
  bottom: -35 px;
  left: 375px;
  font-weight: 900;
  letter-spacing: 5px;
}
/* line 604, classbook/sass/wallrecover.scss */
#flash #zoomImage .container {
  position: relative;
  display: table-cell;
  height: 500px;
  vertical-align: middle;
  font-size: 30px;
}
/* line 610, classbook/sass/wallrecover.scss */
#flash #zoomImage .container .prevImage {
  padding: 10px;
  position: absolute;
  cursor: pointer;
  top: 235px;
  left: 10px;
}
/* line 617, classbook/sass/wallrecover.scss */
#flash #zoomImage .container .nextImage {
  padding: 10px;
  position: absolute;
  cursor: pointer;
  top: 235px;
  right: 10px;
}
/* line 624, classbook/sass/wallrecover.scss */
#flash #zoomImage .container .nextImage:hover, #flash #zoomImage .container .prevImage:hover {
  background-color: #bdbdbd;
}
/* line 627, classbook/sass/wallrecover.scss */
#flash #zoomImage .container .nomore {
  opacity: 0.5;
  cursor: default;
}

/*
Ashok
*/
/* line 647, classbook/sass/wallrecover.scss */
.vertical_nav {
  position: fixed;
  top: 40px;
  left: 0px;
  width: 200px;
  height: 100%;
  background-color: #fff;
  border: none;
}
/* line 656, classbook/sass/wallrecover.scss */
.vertical_nav .panel {
  display: inline-block;
  margin-left: 57.143px;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 5px 5px;
  color: #4D68A2;
  font-size: 11px;
  width: 70%;
}
/* line 667, classbook/sass/wallrecover.scss */
.vertical_nav .prof_image {
  width: 40px;
  height: 40px;
  float: left;
  cursor: pointer;
}
/* line 674, classbook/sass/wallrecover.scss */
.vertical_nav table {
  clear: both;
  width: 150px;
  margin-left: 57.143px;
  padding: 5px 5px;
}
/* line 680, classbook/sass/wallrecover.scss */
.vertical_nav table td {
  text-align: left;
  color: #0000;
  font-weight: normal;
  padding: 5px 5px;
  font-size: 12px;
  line-height: 5px;
}
/* line 689, classbook/sass/wallrecover.scss */
.vertical_nav table th {
  background: none;
  padding: 0px 0px;
}
/* line 694, classbook/sass/wallrecover.scss */
.vertical_nav table i {
  color: #B8860B;
  font-size: 15px;
}

/* line 701, classbook/sass/wallrecover.scss */
#notifications {
  width: 30%;
  height: 70%;
  background-color: #fff;
  position: fixed;
  top: 41px;
  right: 27%;
  border: 1px solid rgba(203, 203, 203, 0.9);
  display: none;
}
/* line 711, classbook/sass/wallrecover.scss */
#notifications .notification_header {
  text-align: left;
  padding: 7px;
  font-weight: bold;
  font-size: 11px;
  border-bottom: 1px solid rgba(203, 203, 203, 0.9);
}
/* line 719, classbook/sass/wallrecover.scss */
#notifications .notification_unit {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 11px;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid rgba(203, 203, 203, 0.6);
  width: 100%;
}
/* line 729, classbook/sass/wallrecover.scss */
#notifications .notification_unit .image {
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 7px;
  margin-right: 7px;
}
/* line 737, classbook/sass/wallrecover.scss */
#notifications .notification_unit .notify_text {
  font-weight: normal;
  font-size: 11px;
}
/* line 744, classbook/sass/wallrecover.scss */
#notifications .notification_unit:hover {
  background: #EDEFF4;
}

/* line 750, classbook/sass/wallrecover.scss */
#notifications:before, #notifications:after {
  border: solid transparent;
  content: ' ';
  height: 0;
  bottom: 100%;
  position: absolute;
  width: 0;
  z-index: 2000;
}

/* line 761, classbook/sass/wallrecover.scss */
#notifications:before {
  border-width: 11px;
  border-bottom-color: #fff;
  right: 18.5%;
}

/* line 768, classbook/sass/wallrecover.scss */
#notifications:after {
  border: 8px solid transparent;
  border-bottom-color: #fff;
  right: 19%;
}

/* line 774, classbook/sass/wallrecover.scss */
#messages {
  width: 30%;
  height: 70%;
  background-color: #fff;
  position: fixed;
  top: 41px;
  right: 34%;
  border: 1px solid rgba(203, 203, 203, 0.9);
  display: none;
}
/* line 784, classbook/sass/wallrecover.scss */
#messages .message_header {
  text-align: left;
  padding: 7px;
  font-weight: bold;
  font-size: 11px;
  border-bottom: 1px solid rgba(203, 203, 203, 0.9);
}
/* line 792, classbook/sass/wallrecover.scss */
#messages .message_unit {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 11px;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid rgba(203, 203, 203, 0.6);
  width: 100%;
}
/* line 802, classbook/sass/wallrecover.scss */
#messages .message_unit .image {
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 7px;
  margin-right: 7px;
}
/* line 810, classbook/sass/wallrecover.scss */
#messages .message_unit .message_text {
  font-weight: normal;
  font-size: 11px;
}
/* line 817, classbook/sass/wallrecover.scss */
#messages .message_unit:hover {
  background: #EDEFF4;
}

/* line 821, classbook/sass/wallrecover.scss */
#messages:before, #notifications:after {
  border: solid transparent;
  content: ' ';
  height: 0;
  bottom: 100%;
  position: absolute;
  width: 0;
  z-index: 2000;
}

/* line 832, classbook/sass/wallrecover.scss */
#messages:before {
  border-width: 11px;
  border-bottom-color: #fff;
  right: 18.5%;
}

/* line 839, classbook/sass/wallrecover.scss */
#messages:after {
  border: 8px solid transparent;
  border-bottom-color: #fff;
  right: 19%;
}
